<header class="site-header" role="banner">
  <div class="wrapper">

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/">
        Trang chủ
      </a>

      <a href="{{ site.baseurl }}/du-an-tong-hop/">
        Dự án
      </a>

      <a href="{{ site.baseurl }}/gioi-thieu/">
        Giới thiệu KTS
      </a>

      <a href="{{ site.baseurl }}/du-an/le-hai-yen-green-stars/">
        Lê Hải Yến – Green Stars
      </a>

      <a href="{{ site.baseurl }}/du-an/phan-hoai-thu-vinhomes-the-harmony/">
        Phan Hoài Thu – The Harmony
      </a>

      <a href="{{ site.baseurl }}/du-an/chi-ngoc-diep-royal-city/">
        Ngọc Diệp – Royal City
      </a>

      <a href="{{ site.baseurl }}/du-an/quang-hai-thu-hong-t4c16/">
        Quang Hải & Thu Hồng
      </a>

      </a>

      <a href="https://www.instagram.com/ktscuongnguyen/" target="_blank" rel="noopener">
        Instagram
      </a>
    </nav>

  </div>
</header>
